---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-16">
    <h2 class="text-center font-bold text-4xl text-white mb-8">Horarios de Entrenamiento</h2>
    <div class="bg-light text-primary border-2 border-primary rounded-3xl px-6 py-8">
        <div>
            <h3 class="font-bold text-2xl mb-4 text-primary text-center bg-primary/10 py-2">ATLETISMO</h3>
            <p class="text-left text-lg italic"><span class="font-bold bg-primary px-2 text-white rounded-lg">
                Espacio:</span> SEDE: Bandera de los Andes 4420 (Pista Atletismo)
            </p>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th class="border border-gray-300 px-4 py-2">CATEGORÍA</th>
                            <th class="border border-gray-300 px-4 py-2">LUNES</th>
                            <th class="border border-gray-300 px-4 py-2">MARTES</th>
                            <th class="border border-gray-300 px-4 py-2">MIÉRCOLES</th>
                            <th class="border border-gray-300 px-4 py-2">JUEVES</th>
                            <th class="border border-gray-300 px-4 py-2">VIERNES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">U8 5-6-7 AÑOS/U10 8-9 AÑOS</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">U12 10-11 AÑOS/U14 12-13 AÑOS/U16 14-15 AÑOS</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">MASTER + 30 AÑOS</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
