---
import { WHATSAPP_FORMAT } from 'astro:env/client';
---

<section class="container mx-auto py-16">
    <div class="bg-primary text-white rounded-3xl px-6 py-8 text-center">
        <h2 class="font-bold text-3xl mb-4">¡Pilates en Murialdo!</h2>
        <p class="text-xl mb-8 max-w-3xl mx-auto">
            ¡Mejorá tu fuerza, flexibilidad y postura con pilates!
        </p>
        <a 
            href={`https://wa.me/${WHATSAPP_FORMAT}?text=Hola,%20quiero%20información%20sobre%20Pilates`}
            class="inline-block bg-white text-primary font-bold py-3 px-8 rounded-full hover:bg-light hover:scale-105 transition-all"
            target="_blank"
        >
            ¡Consultá por inscripciones!
        </a>
    </div>
</section>
