@import "tailwindcss";

@theme {
    --font-inter: "Inter Variable", sans-serif;
    --color-mint-500: oklch(0.72 0.11 178);
    --color-primary:#04246e;
    --color-secondary: #ffcf1b;
    --color-tertiary: #e81d20;
    --color-light: #fafafa;
    --color-blueLight: #eff2ff;
}