---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-16">
    <h2 class="text-center font-bold text-4xl text-white mb-8">Horarios de Entrenamiento</h2>
    <div class="bg-light text-primary border-2 border-primary rounded-3xl px-6 py-8">
        
        
        <div class="mb-10">
            <h3 class="font-bold text-2xl mb-4 text-primary text-center bg-primary/10 py-2">HOCKEY SOBRE PATINES FEMENINO</h3>
            <p class="text-left text-lg italic"><span class="font-bold bg-primary px-2 text-white rounded-lg">Espacio:</span> SEDE: Bandera de los Andes 4420</p>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th class="border border-gray-300 px-4 py-2">CATEGORÍA</th>
                            <th class="border border-gray-300 px-4 py-2">LUNES</th>
                            <th class="border border-gray-300 px-4 py-2">MARTES</th>
                            <th class="border border-gray-300 px-4 py-2">MIÉRCOLES</th>
                            <th class="border border-gray-300 px-4 py-2">JUEVES</th>
                            <th class="border border-gray-300 px-4 py-2">VIERNES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">ESCUELITA</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">MINI</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">INFANTIL</td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">CADETE</td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">JUVENIL</td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">JUNIOR</td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">SENIOR</td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div>
            <h3 class="font-bold text-2xl mb-4 text-primary text-center bg-primary/10 py-2">HOCKEY SOBRE PATINES MASCULINO</h3>
            <p class="text-left text-lg italic"><span class="font-bold bg-primary px-2 text-white rounded-lg">Espacio:</span> SEDE: Bandera de los Andes 4420</p>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th class="border border-gray-300 px-4 py-2">CATEGORÍA</th>
                            <th class="border border-gray-300 px-4 py-2">LUNES</th>
                            <th class="border border-gray-300 px-4 py-2">MARTES</th>
                            <th class="border border-gray-300 px-4 py-2">MIÉRCOLES</th>
                            <th class="border border-gray-300 px-4 py-2">JUEVES</th>
                            <th class="border border-gray-300 px-4 py-2">VIERNES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">ESCUELA</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">PROMO-PREMINI-MINI</td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">PRECADETE-CADETE</td>
                            <td class="border border-gray-300 px-4 py-2">18:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">PREINFANTIL-INFANTIL</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">PRECADETE-CADETE-PREJUVENIL</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">18:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">18:00–20:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">JUVENIL-PREJUNIOR</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">20:00–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">JUNIOR</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">JUNIOR-RESERVA-SENIOR</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:30</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">22:00–23:30</td>
                            <td class="border border-gray-300 px-4 py-2">21:00–22:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
