---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-20">
    <h2 class="text-center font-bold text-4xl text-white mb-3">Hockey sobre Patines</h2>
    <p class="text-center font-medium text-2xl text-white mb-6">Equilibrio, Destreza y Diversión</p>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-8 bg-light text-primary border-2 border-primary rounded-3xl px-4 py-4">
            <div class="mb-6">
                <p class="text-lg mb-4">
                    El hockey sobre patines es una disciplina ideal para mantener a los pequeños activos y comprometidos 
                    con un estilo de vida saludable. En el Club Leonardo Murialdo, ofrecemos un espacio donde niños y 
                    niñas pueden desarrollar habilidades físicas y sociales mientras disfrutan del deporte.
                </p>
                <p class="text-lg">
                    El hockey sobre patines femenino es una divertida actividad para niñas a partir de los 4 años. Las canaritas 
                    disfrutan de cada momento en la pista, lo que las motiva a mantener su compromiso a largo plazo con este 
                    deporte emocionante.
                </p>
            </div>
        </div>
        <div class="md:col-span-4 bg-light border-2 border-primary text-primary rounded-3xl px-4 py-4">
            <ol class="text-lg">
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Rama femenina y masculina</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Desde los 4 años</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Escuelita para principiantes</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Entrenadores especializados</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Pista reglamentaria</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Ambiente familiar y divertido</li>
            </ol>
        </div>
    </div>
</section>
