---
import Layout from '@/layouts/Layout.astro';
import Breadcrumb from '@/components/Breadcrumb.astro';
import ContactInfo from '@/components/ContactInfo.astro';
import FormContact from '@/components/FormContact.jsx';
import Map from '@/components/Map.astro';
import { SITE_KEY } from "astro:env/client";

const preloadImages = [
	{
		href:"/images/contacto/contacto-hero.webp",
		as: "image",
		type: "image/webp",
	}
];
---

<Layout
	title="Contacto - Club Leonardo Murialdo"
	canonical="https://clubleonardomurialdo.com.ar/contacto"
	metaDescription="Contacta con el club Leonardo Murialdo para cualquier consulta o duda. Envía un correo y nos pondremos en contacto contigo a la brevedad."
	metaImg="https://clubleonardomurialdo.com.ar/images/contacto/contacto-hero.webp"
	preLoad={preloadImages}
>
	<Breadcrumb title="Contactá con nosotros" img="/images/contacto/contacto-hero.webp" filter />
	<div class="py-16 px-4 mx-auto -mt-64 max-w-screen-xl sm:py-20 lg:px-6 ">
        <FormContact client:load />
        
        <ContactInfo />
    </div>
	<Map />
</Layout>
<!-- recaptcha v3 -->
<script async src={'https://www.google.com/recaptcha/api.js?render=' + SITE_KEY}></script>