---

import Check from "@/assets/icons/check-circle.svg";

---
<section class="container mx-auto py-20">
    <h2 class="text-white text-center font-bold text-4xl mb-3">Hockey sobre Césped</h2>
    <p class="text-white text-center font-medium text-2xl mb-6">Trabajo en equipo, estrategia y pasión</p>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-8 bg-light text-primary border-2 border-primary rounded-3xl px-4 py-4">
            <div class="mb-6">
                <p class="text-lg mb-4">
                    El hockey sobre césped es un deporte dinámico y emocionante que se juega en equipo, combinando 
                    velocidad, técnica y estrategia. En el Club Leonardo Murialdo, fomentamos valores fundamentales 
                    como el compañerismo, la disciplina, la perseverancia y el respeto.
                </p>
                <p class="text-lg">
                    Más allá del aspecto competitivo, nuestro hockey es una excelente opción tanto para niños como 
                    para adultos, ya que promueve la actividad física, mejora la coordinación y fortalece vínculos sociales.
                </p>
            </div>
            
        </div>
        <div class="md:col-span-4 bg-light border-2 border-primary text-primary rounded-3xl px-4 py-4">
            <ol class="text-lg">
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Rama femenina y masculina</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Categorías desde los 5 años</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Mamys hockey</li>

                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Equipos federados</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Entrenadores especializados</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Infraestructura de calidad</li>
            </ol>
        </div>
    </div>
</section>
