---
interface Props {
    title: string;
    img: string;
    filter?: boolean;
}

const { title, img, filter } = Astro.props;
---
<section class="container mx-auto mt-[150px] md:mt-[140px] lg:mt-[160px]">
    <div 
        class={`${filter ? "bg-black/40 bg-blend-multiply" : ""} bg-no-repeat bg-cover bg-center h-full w-full rounded-3xl`}
        style={{ backgroundImage: `url(${img})` }}
    >
        
        <div class="relative w-full">
            <div class="flex justify-center relative h-[calc(70vh-14rem)] mx-5 sm:mx-10">
                <h1 class="absolute top-5 left-5 z-10 text-white bg-primary/70 py-4 px-6 rounded-3xl text-center font-extrabold  text-xl md:text-3xl">
                    {title}
                </h1>
            </div>
        </div>
        
    </div>
</section>