<section class="container mx-auto">
    <div class="bg-[url('/images/index/cancha-fultbol-murialdo.png')] bg-no-repeat bg-cover bg-center h-full w-full rounded-3xl">
        
        <div class="relative w-full">
            <div class="flex justify-center relative h-[calc(100vh-14rem)] mx-5 sm:mx-10">
                <h1 class="absolute bottom-16 z-10 text-white bg-primary/70 w-full py-4 rounded-3xl text-center font-extrabold text-3xl md:text-6xl">
                    Club Leonardo Murialdo
                </h1>
            </div>
        </div>
        
    </div>
</section>