---
import {
    MAP_IFRAME
} from 'astro:env/client';
---
<section class="container mx-auto">
    <h3 class="text-white font-extrabold text-5xl text-center mb-16">Ubicación</h3>
    <div class="rounded-3xl h-96 w-full px-4" set:html={MAP_IFRAME}></div>
</section>