---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-20">
    <h2 class="text-center font-bold text-4xl mb-3 text-white">Básquet Murialdo</h2>
    <p class="text-center font-medium text-2xl mb-6 text-white">Pasión, Disciplina y Formación</p>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-8 bg-light text-primary border-2 border-primary rounded-3xl px-4 py-4">
            <div class="mb-6">
                <p class="text-lg mb-4">
                    Básquet Murialdo es más que un deporte: es una escuela de valores, trabajo en equipo y superación personal. 
                    Nuestra disciplina forma parte esencial de la propuesta deportiva del Club Leonardo Murialdo, fomentando el 
                    desarrollo físico, mental y social de niños, jóvenes y adultos.
                </p>
                <p class="text-lg">
                    El básquetbol contribuye a mejorar la coordinación, la velocidad de reacción, la concentración y la toma de decisiones, 
                    al mismo tiempo que fortalece la autoestima y la integración grupal.
                </p>
            </div>
        </div>
        <div class="md:col-span-4 bg-light border-2 border-primary text-primary rounded-3xl px-4 py-4">
            <ol class="text-lg">
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Formación integral</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Staff técnico capacitado</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Ambiente inclusivo</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Mixto hasta los 12 años</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Preparación física especializada</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Competencia federada</li>
            </ol>
        </div>
    </div>
</section>
