---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-20">
    <h2 class="text-center text-white font-bold text-4xl mb-3">Futsal Murialdo</h2>
    <p class="text-center text-white font-medium text-2xl mb-6">Velocidad, Técnica y Pasión</p>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-8 bg-light text-primary border-2 border-primary rounded-3xl px-4 py-4">
            <div class="mb-6">
                <p class="text-lg mb-4">
                    El futsal del Club Leonardo Murialdo tuvo sus inicios en septiembre de 2016, y desde entonces se ha convertido 
                    en una disciplina de constante crecimiento. Nuestra institución forma parte de los torneos FE.FU.SA, donde 
                    nuestro escudo se ve representado en más de diez categorías.
                </p>
                <p class="text-lg">
                    Con más de 220 jugadores que visten los colores del Canario día a día, el futsal Murialdo es una familia 
                    que crece y se fortalece con cada temporada, fomentando valores deportivos y formativos.
                </p>
            </div>
        </div>
        <div class="md:col-span-4 bg-light border-2 border-primary text-primary rounded-3xl px-4 py-4">
            <ol class="text-lg">
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Torneos federados</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Equipos masculinos</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Entrenadores especializados</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Múltiples categorías</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Infraestructura de calidad</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Ambiente competitivo y formativo</li>
            </ol>
        </div>
    </div>
</section>
