---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-20">
    <h2 class="text-center font-bold text-4xl text-white mb-3">Voley</h2>
    <p class="text-center font-medium text-2xl text-white mb-6">Estrategia, Trabajo en Equipo y Superación</p>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-8 bg-light text-primary border-2 border-primary rounded-3xl px-4 py-4">
            <div class="mb-6">
                <p class="text-lg mb-4">
                    El voley es un deporte dinámico que combina potencia, precisión y estrategia. En nuestro club, 
                    ofrecemos un programa completo que abarca desde el minivoley para los más pequeños hasta categorías 
                    competitivas para jóvenes y adultos.
                </p>
                <p class="text-lg mb-4">
                    Practicar voley desarrolla habilidades físicas como la coordinación, la agilidad y la resistencia, 
                    pero también fomenta valores fundamentales como el trabajo en equipo, la comunicación efectiva y 
                    el respeto por los compañeros y rivales.
                </p>
                <p class="text-lg">
                    Nuestros entrenamientos están diseñados para que cada jugador pueda mejorar su técnica individual 
                    (saque, recepción, armado, ataque y bloqueo) mientras aprende a jugar de manera colectiva, 
                    desarrollando estrategias y sistemas de juego adaptados a cada categoría y nivel.
                </p>
            </div>
        </div>
        <div class="md:col-span-4 bg-light border-2 border-primary text-primary rounded-3xl px-4 py-4">
            <ol class="text-lg">
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Deporte inclusivo para todas las edades</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Desarrollo de habilidades motrices</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Fomenta el trabajo en equipo</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Desarrolla la disciplina y la responsabilidad</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Pensamiento estratégico</li>
                <li class="mb-2"><Check class="mr-2 w-6 h-auto inline text-green-700" />Participación en torneos y competencias</li>
            </ol>
        </div>
    </div>
</section>
