---
import Check from "@/assets/icons/check-circle.svg";
---
<section class="container mx-auto py-16">
    <div class="bg-light text-primary border-2 border-primary rounded-3xl px-6 py-8">
        <h2 class="text-center font-bold text-3xl mb-8">Horarios de Entrenamiento</h2>
        
        <div>
            <h3 class="font-bold text-2xl mb-4 text-primary text-center bg-primary/10 py-2">FÚTBOL</h3>
            <p class="text-left text-lg italic"><span class="font-bold bg-primary px-2 text-white rounded-lg">
                Espacio:</span> ANEXO (entrada por Benavente)
            </p>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th class="border border-gray-300 px-4 py-2">CATEGORÍA</th>
                            <th class="border border-gray-300 px-4 py-2">LUNES</th>
                            <th class="border border-gray-300 px-4 py-2">MARTES</th>
                            <th class="border border-gray-300 px-4 py-2">MIÉRCOLES</th>
                            <th class="border border-gray-300 px-4 py-2">JUEVES</th>
                            <th class="border border-gray-300 px-4 py-2">VIERNES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">ESCUELA 5 a 8 años</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:30–21:00</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:30–21:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">INFANTILES 2013/14</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">INFANTILES 2017/18/19</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">2008/09/10</td>
                            <td class="border border-gray-300 px-4 py-2">15:00–17:00</td>
                            <td class="border border-gray-300 px-4 py-2">15:00–17:00</td>
                            <td class="border border-gray-300 px-4 py-2">15:00–17:00</td>
                            <td class="border border-gray-300 px-4 py-2">15:00–17:00</td>
                            <td class="border border-gray-300 px-4 py-2">15:00–17:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">2010/11/12</td>
                            <td class="border border-gray-300 px-4 py-2">17:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2">17:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2">17:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2">17:00–19:00</td>
                            <td class="border border-gray-300 px-4 py-2">17:00–19:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">1ra y 5ta</td>
                            <td class="border border-gray-300 px-4 py-2">16:00–18:00</td>
                            <td class="border border-gray-300 px-4 py-2">16:00–18:00</td>
                            <td class="border border-gray-300 px-4 py-2">16:00–18:00</td>
                            <td class="border border-gray-300 px-4 py-2">16:00–18:00</td>
                            <td class="border border-gray-300 px-4 py-2">16:00–18:00</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">FEMENINO +13</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">18:00–19:30</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">18:00–19:30</td>
                            <td class="border border-gray-300 px-4 py-2">18:00–19:30</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-medium">INFANTILES 2015/16</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                            <td class="border border-gray-300 px-4 py-2">19:00–20:30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
